* {
    padding: 0;
    margin: 0;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: 'SimHei';
}

#calendar {
    width: 550px;
    height: 450px;
    border: 1px solid #d8d9db;
    border-radius: 10px;
    margin: 10px;
}

h1 {
    height: 50px;
    background: #f4f6f7;
    line-height: 50px;
    color: #aaa;
    font-size: 16px;
    font-weight: normal;
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /*border-radius: 10px;*/
}

.head {
    height: 30px;
    width: 100%;
    vertical-align: top;
    padding: 10px;
}

.gruop-select {
    float: left;
    margin-right: 10px;
}

.head:after {
    content: '';
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

.btn {
    border: none;
    min-width: 30px;
    height: 25px;
    font-family: 'SimHei';
    font-size: 14px;
}

.pre,
.next {
    font-size: 20px;
}

.pre,
select,
.next {
    float: left;
}

.today {
    padding: 5px;
}

select {
    border: 1px solid #d8d9db;
    /*-webkit-appearance: none;*/
    min-width: 60px;
    height: 25px;
    text-align: center;
    font-size: 16px;
}

.year select {
    min-width: 80px;
}

#content {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-top: 1px solid #a9cfec;
    box-sizing: border-box;
}

#content:after {
    content: '';
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

.left {
    float: left;
}

.right {
    float: right;
}

.calendar-body {
    width: 350px;
    height: 350px;
    color: #535353;
    font-size: 0px;
}

.calendar-body span {
    display: inline-block;
    width: 50px;
    font-size: 14px;
    text-align: center;
}

.calendar-body p {
    line-height: 1.2;
}

.week {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e1e1e1;
}

.days span {
    height: 50px;
    padding-top: 8px;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.normal:hover {
    border: 1px solid #f8d564;
}

.expired {
    color: #eee;
}

.tody-detail {
    width: 170px;
    height: 350px;
    border-left: 1px solid #d8d9db;
    font-size: 14px;
    padding-top: 30px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.tody-detail p {
    text-align: center;
    line-height: 1.5;
}

p.big-day {
    font-size: 80px;
    color: #c9161d;
    line-height: 1;
}

.selected {
    background-color: #c9161d;
    color: #fff;
}