*,
html,
body {
    margin: 0;
    padding: 0;
}

body {
    font: 14px SimSun;
    min-width: 980px;
}

ul {
    list-style: none;
}

.row {
    width: 980px;
    margin: auto;
}

header {
    position: relative;
    width: 100%;
    height: 80px;
    color: #fff;
    background-color: #522a5c;
}

header .title {
    width: 980px;
    margin: auto;
    height: 100%;
    position: relative;
}

header .logo {
    position: absolute;
    bottom: 5px;
    font-size: 30px;
}

.nav {
    list-style: none;
}

header .nav {
    position: absolute;
    right: 0px;
    bottom: 5px;
}

.nav li {
    display: inline-block;
    padding-left: 14px;
    padding-right: 14px;
    vertical-align: top;
}

.nav li:last-child {
    padding-right: 0px;
}

.link {
    text-decoration: none;
    color: #fff;
}

.banner {
    position: relative;
    width: 100%;
    height: 600px;
    background: url(../img/banner-bg.jpg) no-repeat;
    background-size: cover;
}

.banner .text {
    position: absolute;
    bottom: -50px;
    right: 80px;
    width: 300px;
    height: 120px;
    padding: 10px 10px 30px 10px;
    color: #fff;
    background: linear-gradient( to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}

.banner .text h6 {
    font-size: 14px;
    text-align: right;
}

.text p {
    font-size: 12px;
    text-indent: 2rem;
}

.banner .text p {
    margin-top: 12px;
    line-height: 1.5;
}

.content {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #eeeeee;
}

.wrap {
    display: table;
    border-spacing: 10px;
    margin: auto;
}

.content .item {
    display: table-cell;
    height: 100%;
    width: 320px;
    margin-right: 10px;
    background-color: #fff;
}

.content .item img {
    display: block;
    width: 300px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    object-fit: cover;
}

.content .item .text {
    font-size: 12px;
    line-height: 1.7;
    padding: 15px 30px 25px 30px;
}

.intrance {
    position: relative;
    padding: 150px 0;
}

.intrance .icon {
    display: inline-block;
    width: 150px;
    height: 150px;
    position: absolute;
    top: -50px;
    left: 50%;
    border-radius: 150px;
    background: url(../img/banner-bg.jpg) no-repeat;
    background-size: cover;
    transform: translate(-50%, 0%);
}

.intrance h1 {
    margin-bottom: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    font-family: Century Gothic;
    color: black;
}

.intrance p {
    width: 600px;
    margin: auto;
    color: black;
    font-size: 16px;
    line-height: 1.7;
    text-indent: 2rem;
}

.end {
    height: 40px;
    width: 100%;
    background-color: black;
    color: #fff;
    border-bottom: 1px solid #333333;
}

.end .nav {
    text-align: center;
    font-size: 12px;
    line-height: 40px;
}

.end .nav li {
    padding-left: 5px;
    padding-right: 5px;
}

footer {
    position: relative;
    height: 360px;
    background-color: black;
    color: #fff;
}

footer > div {
    display: table;
    width: 100%;
}

footer .item {
    display: table-cell;
    padding-left: 100px;
}

footer .item ul {
    list-style: none;
    padding-bottom: 80px;
}

footer .item h4 {
    font-weight: normal;
    margin: 20px auto;
}

footer .item a {
    text-decoration: none;
    color: #fff;
    line-height: 1.5;
}

footer .item a:hover {
    text-decoration: underline;
}

footer .info {
    font-weight: normal;
    text-align: center;
}

.icon {
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 35px;
    background: url(../img/icon-github.png) no-repeat;
}

@media screen and (max-width:980px) {
    header .icon {
        display: none;
    }
}

header .icon {
    bottom: 0px;
    right: 10px;
}

footer .icon {
    bottom: 0px;
    left: 50%;
    margin-left: -18px;
}

.blog-list {
    margin-right: 270px;
}

aside {
    float: right;
    width: 260px;
}

.search,
.type,
.calendar,
.tag,
.ranking {
    background-color: #fff;
}

.type,
.calendar,
.tag,
.ranking {
    margin-top: 10px;
}

.search {
    height: 80px;
    width: 100%;
}

.search input {
    background: url(../img/search.png) no-repeat 2% 60%;
    display: inline-block;
    outline: none;
    background-size: 1.5rem;
    border: 1px solid #dddddd;
    width: 170px;
    text-indent: 2rem;
    height: 100%;
    box-sizing: border-box;
    vertical-align: top;
}

.search > div {
    margin: 0px 20px;
    height: 40px;
    padding: 20px 0px;
}

.search input:focus {
    border-color: #000;
    border-right: none;
}

.search input:focus + button {
    border: 1px solid #000;
}

.search button {
    display: inline-block;
    outline: none;
    border: none;
    background-color: #dddddd;
    color: #fff;
    font-size: 20px;
    width: 50px;
    height: 100%;
    margin-left: -10px;
}

.type {
    margin-top: 10px;
}

.type li {
    border-left: 3px solid #dfc6e6;
    border-bottom: 1px solid #dddddd;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    color: #666;
    text-indent: 1rem;
}

.type li:last-child {
    border-bottom: none;
}

.calendar {
    height: 240px;
    padding: 20px;
    color: #999;
}

.year-show {
    color: #773c88;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
}

.year-show:before,
.year-show:after {
    font-size: 18px;
}

.year-show span {
    margin-left: 60px;
    margin-right: 60px;
}

.year-show:before {
    content: "<";
}

.year-show:after {
    content: ">";
}

.weekend {
    border-bottom: 1px solid #eeeeee;
    margin: 5px;
}

.weekend span {
    display: inline-block;
    width: 23px;
    line-height: 1.5;
    margin: 5px 0px;
    text-align: center
}

.today {
    background-color: #773c88;
    color: #fff;
}

.tag {
    height: 200px;
    padding: 10px;
}

.tag p {
    color: #666;
}

.tag span {
    color: #773c88;
    font-size: 16px;
}

.tag .big {
    font-size: 30px;
    font-weight: 600;
}

.tag .mid {
    font-size: 24px;
    font-weight: 600;
}

.ranking {
    height: 240px;
    padding: 20px 15px;
}

.ranking p {
    color: #666;
}

.ranking ul {
    margin: 20px 0;
}

.ranking li {
    width: 100%;
    margin: 10px 0;
}

.ranking .sort {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 18px;
    color: #fff;
    background-color: #522a5c;
    text-align: center;
    line-height: 18px;
    margin-right: 10px;
    margin-top: 3px;
    vertical-align: top;
}

.ranking .line {
    display: inline-block;
    width: 120px;
    height: 18px;
    border: 1px solid #522a5c;
    margin-right: 10px;
    position: relative;
}

.ranking .line span {
    background-color: #522a5c;
    height: 18px;
    position: absolute;
}

.ranking .name {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
}

.content:after {
    content: "";
    display: block;
    height: 0px;
    visibility: hidden;
    clear: both;
}

article {
    position: relative;
    background-color: #fff;
    padding: 15px 20px;
    padding-bottom: 65px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.chapter {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 40px;
    color: #fff;
    left: -50px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
}

.chapter-num {
    background-color: #a660b7;
    top: 0px;
}

.chapter-type {
    background-color: #a660b7;
    top: 40px;
    font-size: 20px;
}

article h4 {
    color: #a660b7;
    font-size: 16px;
    line-height: 2;
}

article h5 {
    color: #666;
    font-size: 12px;
    line-height: 2;
}

article p {
    text-indent: 2rem;
    line-height: 1.7;
}

article .auth {
    position: absolute;
    bottom: 15px;
    right: 25px;
    font-size: 14px;
    color: #999;
}

.paging {
    margin-left: 65px;
    margin-right: 65px;
}

.paging span {
    display: inline-block;
    height: 5px;
    background-color: #fff;
    color: #000;
    font-size: 12px;
    text-align: center;
    line-height: 5px;
    padding: 15px;
}

.paging .selected {
    background-color: #a660b7;
    color: #fff;
}

.paging .unpoint {
    background-color: #fff;
    color: #ddd;
}

.paging .big {
    width: 40px;
}

.paging .normal {
    width: 10px;
}

.gallery .tab {
    display: inline-block;
    background: #fff;
    font-size: 0px;
}

.tab span {
    display: inline-block;
    padding: 15px 20px 20px 20px;
    font-size: 14px;
}

.tab .all {
    border-top: 3px solid rgba(82, 42, 92, 0.7);
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.tab .js {
    border-top: 3px solid rgba(82, 42, 92, 0.7);
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.tab .ui {
    border-top: 3px solid rgba(89, 0, 178, 0.7);
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.tab .fw {
    border-top: 3px solid rgba(140, 35, 0, 0.7);
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.tab .app {
    border-top: 3px solid rgba(217, 163, 0, 0.7);
    border-bottom: 1px solid #eee;
}

.tab span:hover {
    border-bottom: none;
}

.gallery .list {
    width: 170px;
    display: inline-block;
    vertical-align: top;
}

.gallery .list1 {
    width: 340px;
}

.gallery .list1 .list-sub {
    columns: 160px 2;
}

.gallery img {
    margin: 5px;
    display: inline-block;
    vertical-align: top;
}

.gallery {
    margin-right: 270px;
}

.gallery .image {
    background-color: #fff;
    padding: 7px;
}

.more {
    background-color: #fff;
    height: 50px;
    margin-top: 20px;
    color: #666;
    text-align: center;
    line-height: 50px;
}

.about-me {
    width: 100%;
    background-color: #fff;
    margin-top: 50px;
    padding-top: 110px;
    padding-bottom: 0px;
}

.about-me .icon {
    /*z-index: 500;*/
    border-bottom: 10px solid #eee;
    border-left: 10px solid #eee;
    border-right: 10px solid #eee;
}

.about-me .icon-phone {
    display: block;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    background: url(../img/banner-bg.jpg) no-repeat;
    background-size: cover;
    border: 6px solid #eee;
}

.info-name > div {
    display: inline-block;
}

.info-name .label {
    width: 50%;
    margin-left: -8px;
    font-size: 26px;
    text-align: right;
    vertical-align: top;
    margin-top: 20px;
    box-sizing: border-box;
    padding-right: 80px;
}

.info-name .info {
    position: relative;
    font-size: 14px;
    width: 320px;
    border-left: 6px solid #eee;
    text-indent: 2rem;
    padding: 16px 30px;
}

.info-name .phone {
    text-indent: 0;
}

.info-name .info > div {
    margin: 30px 0;
}

.info-name .time {
    font-weight: normal;
    display: inline-block;
    margin-left: -100px;
    width: 60px;
    height: 20px;
    border: 5px solid #eee;
    border-radius: 10px;
    text-indent: 0px;
    text-align: center;
    background-color: #fff;
}

.pt30 {
    padding-top: 30px;
}